<button type="button" hx-get="{% url 'create' 'idea' %}" hx-target="#drawer-body">🌿 Add idea</button>
<button type="button" hx-get="{% url 'create' 'task' %}" hx-target="#drawer-body">✅ Add task</button>
<button type="button" hx-get="{% url 'create' 'budgetitem' %}" hx-target="#drawer-body">💷 Add expense</button>
<button type="button" hx-get="{% url 'create' 'venue' %}" hx-target="#drawer-body">🏠 Add venue</button>
<button type="button" hx-get="{% url 'create' 'enquiry' %}" hx-target="#drawer-body">💌 Log enquiry</button>
<button type="button" hx-get="{% url 'create' 'guest' %}" hx-target="#drawer-body">👥 Add guest</button>
<button type="button" hx-get="{% url 'create' 'supplier' %}" hx-target="#drawer-body">📞 Add supplier</button>
